k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
   storageMountPath = '/mnt'
   homeDir = '/mnt/shared/MedGen/BTK_k8s_nf'
   launchDir = '/mnt/shared/MedGen/BTK_k8s_nf/launch'
   projectDir = '/mnt/shared/MedGen/BTK_k8s_nf/project'
   workDir = '/mnt/shared/MedGen/BTK_k8s_nf/temp'
}

params {
   refindex = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/index/BWA/GRCh37-p13'
   ref = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/seq/GRCh37-p13'
   vep = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/vep/'
   covbed = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/beds/BTK_PLCG2_corr.bed'
   covbedpicard = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/beds/BTK_PLCG2_corr_picard.bed'
   varbed = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/beds/BTK_PLCG2_corr_toVardict.bed'
   coverstat = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/coverage_final_table.R'
   vcf_simplify = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/vcf-simplify.py'
   create_table = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/rearange_table_BTK_AMareckova.R'
   gatk36 = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/GenomeAnalysisTK.jar'
   var2vcf_valid = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/var2vcf_valid.pl'
   teststrandbias = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/utils/teststrandbias.R'
   datain = '/mnt/shared/MedGen/sequencing_results/primary_data/230106_TP53_20230106/raw_fastq/'
}

executor {
   queueSize = 10
}

process {
   shell = ['/bin/bash', '-euo', 'pipefail']
   container = 'registry.gitlab.ics.muni.cz:443/450402/btk_k8s:16'
   scratch = true
   executor = 'k8s'
   cpus = 8
   memory = '16GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

runName = 'sad-church'
resume = null
